.svsagis/**/*.pdf

.svsagis/**/*.ppt
.svsagis/**/*.pptx

.svsagis/**/*.txt

.svsagis/**/*.PNG
.svsagis/*.png
.svsagis/**/*.jpg
.svsagis/**/*.jpeg

.svsagis/**/credentials.json

.svsagis/**/*.ipynb_checkpoints

